#main-content {
  margin-top: 75px;
}

.navbar-right {
  margin-right: 5px ;
}

.nav-panel {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.main-panel {
}

.right-panel {
}

.bottom-panel {
  min-height: 30px;
  max-height: 250px;
  overflow-y: scroll;
}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.container {
  background-color: #f7f7f7;
}

.messageBody {
  margin-left: 10px;
}