.andromeda #main-content {
  margin-top: 75px;
}

.andromeda .navbar-right {
  margin-right: 5px ;
}

.andromeda .nav-panel {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.andromeda .main-panel {
  min-height: 332px;
  margin-bottom: 20px;
}

.andromeda .bottom-panel {
  min-height: 30px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.andromeda .empty-row {
  height: 20px;
}

.andromeda .modal-messages {
  height: 150px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  /* col-xs size */
  .andromeda .main-panel {
    min-height: 0px;
    margin-bottom: 5px;
  }

  .scrollable {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .andromeda .bottom-panel {
    margin-top: 5px;
  }

  .andromeda .empty-row {
    height: 5px;
  }

  .andromeda #main-content {
    margin-top: 55px;
  }
} /* @media only screen and (max-width: 768px) */

.bold {
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

/* The <body> has a container class */
.container {
  background-color: #f7f7f7;
}

.andromeda .messageBody {
  margin-left: 10px;
}

.clickable {
  cursor: pointer;
}

.top5 {
  margin-top: 5px;
}

.bottom5 {
  margin-bottom: 5px;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60%;
}

.center {
  text-align: center;
}