<!-- For JS Development -->
<html>
  <head>
    <title>Andromeda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/css/bower.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/andromeda.css" />
  </head>
  <body class="container">
    <div id="app" class="andromeda"></div>
    <script src="../static/js/bower.js"></script>
    <script src="../static/js/andromeda.js"></script>
  </body>
</html>
